<form method="POST" asp-controller="Home" asp-action="GetRedis">
    <div><h3>Key:</h3>
        <input name="key" />
    </div>
    <div>
        <h3>Value:</h3>
        <p>@ViewBag.GetValue</p>
    </div>
    <input type="submit" class="btn btn-default"/>
    <input type="button" value="Set" onclick="location.href='@Url.Action("SetRedis", "Home")'" class="btn btn-default"/>
</form>