<div class="row">
    <div class="col-md-3">
        <h2>@ViewBag.Select</h2>
        <h5>@ViewBag.Result1</h5>
        <h2>---------------Separator----------------</h2>
        <h2>@ViewBag.Update</h2>
        <h5>@ViewBag.Result2</h5>
    </div>
</div>