<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.ThreadCurrent</h2>
        <h2>---------------Separator----------------</h2>
        <h2>@ViewBag.Thread1</h2>
        <h2>---------------Separator----------------</h2>
        <h2>@ViewBag.Thread2</h2>
        <h2>---------------Separator----------------</h2>
        <h2>@ViewBag.Thread3</h2>
    </div>
</div>